@font-face {
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata.otf);
}

*, ¡
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: #626262;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;
}

figure {
    margin: 0;
}

figure p {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;
    font-weight: 300;
}

p {
    margin: 0;
    line-height: 1.7;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;

}

.container {
    max-width: 1060px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    padding: 40px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.logo {
    flex: 1;;
}

.logo a {
    padding: 15px 15px 15px 0;
    font-family: Inconsolata, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: black;

}

.top-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.top-nav li {
    display: flex;
    margin: 0 30px;
}

.top-nav li:last-child {
    margin-right: 0;
}

.top-nav li a {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-size: 16px;

}

.top-nav li a:hover {
    color: #b4ad9e;
}

.banner, .photodiary {
    margin-bottom: 100px;
}

.photodiary .container, .post-list .container {
    padding: 0 70px;
}

.photodiary-title {
    font-size: 30px;
}

.photodiary-post-link {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;
    cursor: pointer;

}

.photodiary-post-link:hover {
    color: #626262;
}

.photodiary-post span {
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

.photodiary p {
    margin-bottom: 50px;
}

.post-list .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.post-item {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    flex: 1 1 420px;
    margin-bottom: 130px;
}

.button-wrap {
    text-align: center;
}

.post-list button {
    width: 165px;
    height: 60px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #626262;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding: 70px 0;
    margin-bottom: 130px;
    background: #f0f0f0;
}

.signup > div {
    width: 380px;
}

.signup h2 {
    font-weight: normal;
    color: #333333;
    letter-spacing: 1px;
    margin: 0;

}

.signup-form {
    margin-top: 100px;

}

.signup-form input {
    float: left;
    width: 350px;
    font-size: 14px;
    padding: 14px 0;
    border: none;
    border-bottom: 1px solid black;
    background: #f0f0f0;
    outline: none;
}

.signup-form button {
    width: 30px;
    height: 45px;
    padding: 0;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: url(../img/icons/send-icon.png) center no-repeat;
    cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome */
    color: #626262;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #626262;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #626262;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: #626262;
    opacity: 1;
}

footer {
    margin-top: 100px;
    padding: 44px 0;
    background: #f0f0f0;
}

footer .container {
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
}

footer a {
    font-weight: 600;
    margin: 5px;
    color: #000000;
}

footer a:hover {
    color: #b4ad9e;
}