<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minimo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="container">
            <div class="logo">
                <a href="#">Minim0</a>
            </div>
            <ul class="top-nav">
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Photodiary</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Travel</a></li>
            </ul>

        </div>

    </header>
    <section class="banner">
        <div class="container">
            <img src="img/banner.png" alt="photo">
        </div>
    </section>
    <section class="photodiary">
        <div class="container">
            <div class="photodiary-post">
                <span>Photodiary</span>
                <h2 class="photodiary-title">
                    The perfect weekend get away
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aspernatur,
                    beatae
                    deleniti doloribus ea eaque eos est facere harum itaque magnam numquam perferendis perspiciatis
                    quisquam recusandae reiciendis tempora! Sunt!
                    Beatae ducimus eum nam natus quae quas soluta voluptates? Asperiores dolor ducimus pariatur
                    provident quae! Accusantium, dolor eveniet exercitationem laudantium nam, obcaecati praesentium
                    quo
                    repellat repudiandae tenetur voluptate voluptatibus voluptatum.
                </p>
            </div>
            <a href="#" class="photodiary-post-link">Leave a comment</a>
        </div>
    </section>
    <section class="post-list">
        <div class="container">
            <div class="post-item">
                <figure>
                    <img src="img/post-items/girl_1.png" alt="About image"/>
                    <figcaption>
                        <p>Lifestyle</p>
                    </figcaption>
                </figure>
                <h2 class="post-title">More than just a music festival</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque ducimus est, id illum laborum
                    magnam
                    minima minus molestias nam natus nihil nisi perferendis, quasi quis reiciendis similique, ullam
                    vero.
                </p>
            </div>
            <div class="post-item">
                <figure>
                    <img src="img/post-items/coffee_2.png" alt="About image"/>
                    <figcaption>
                        <p>Lifestyle</p>
                    </figcaption>
                </figure>
                <h2 class="post-title">More than just a music festival</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque ducimus est, id illum laborum
                    magnam
                    minima minus molestias nam natus nihil nisi perferendis, quasi quis reiciendis similique, ullam
                    vero. minima minus molestias nam natus nihil nisi perferendis, quasi quis reiciendis similique,
                    ullam
                    vero. minima minus molestias nam natus nihil nisi perferendis, quasi quis reiciendis similique,
                    ullam
                    vero.
                </p>
            </div>
            <div class="post-item">
                <figure>
                    <img src="img/post-items/bridge_3.png" alt="About image"/>
                    <figcaption>
                        <p>Photodiary</p>
                    </figcaption>
                </figure>
                <h2 class="post-title">More than just a music festival</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque ducimus est, id illum laborum
                    magnam
                    minima minus molestias nam natus nihil nisi perferendis, quasi quis reiciendis similique, ullam
                    vero.
                </p>
            </div>
            <div class="post-item">
                <figure>
                    <img src="img/post-items/man_4.png" alt="About image"/>
                    <figcaption>
                        <p>Photodiary</p>
                    </figcaption>
                </figure>
                <h2 class="post-title">More than just a music festival</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque ducimus est, id illum laborum
                    magnam
                    minima minus molestias nam natus nihil nisi perferendis, quasi quis reiciendis similique, ullam
                    vero.
                </p>
            </div>
        </div>
    </section>
    <section class="signup">
        <div class="container">
            <h2>Sing up for our newslatter</h2>
            <form class="signup-form">
                <input class="" type="email" placeholder="Enter a valid email address">
                <button type="submit"></button>
            </form>
        </div>
    </section>
    <section class="post-list">
        <div class="container">
            <div class="post-item">
                <figure>
                    <img src="img/post-items/girl_5.png" alt="About image"/>
                    <figcaption>
                        <p>Lifestyle</p>
                    </figcaption>
                </figure>
                <h2 class="post-title">Top 10 song for running</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque ducimus est, id illum laborum
                    magnam
                    minima minus molestias nam natus nihil nisi perferendis, quasi quis reiciendis similique, ullam
                    vero.
                </p>
            </div>
            <div class="post-item">
                <figure>
                    <img src="img/post-items/road_6.png" alt="About image"/>
                    <figcaption>
                        <p>Lifestyle</p>
                    </figcaption>
                </figure>
                <h2 class="post-title">Cold winter days</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa delectus dolore ducimus facilis
                    ipsum porro quaerat reiciendis repellat sit veritatis! Aspernatur cum incidunt odit quo soluta,
                    tenetur unde vel velit?
                </p>
            </div>
        </div>
        <div class="button-wrap">
            <button>Load more</button>
        </div>
    </section>
    <footer>
        <div class="container">
            <nav>
                <a href="#">Terms and conditions</a>
                <a href="#">Privacy</a>
            </nav>
            <nav>
                <a href="#">Follow</a>
                <a href="#" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </nav>
        </div>
    </footer>
</div>
</body>
</html>