<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="container">
            <div class="header-logo">

            </div>
            <div class="topnav">
                <ul>
                    <li><a href="">Lifestyle</a></li>
                    <li><a href="">Photodiary</a></li>
                    <li><a href="">Music</a></li>
                    <li><a href="">Travel</a></li>
                </ul>
            </div>
        </div>

    </header>
    <section class="banner">
        <img src="img/" alt="photo">
    </section>
    <section class="photodiary">
        <div class="photodiary-post">
            <h2 class="photodiary-title">
                The perfect weekend get away
            </h2>
            <div class="photodiary-text">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aspernatur, beatae
                    deleniti doloribus ea eaque eos est facere harum itaque magnam numquam perferendis perspiciatis
                    quisquam recusandae reiciendis tempora! Sunt!
                </div>
                <div>Beatae ducimus eum nam natus quae quas soluta voluptates? Asperiores dolor ducimus pariatur
                    provident quae! Accusantium, dolor eveniet exercitationem laudantium nam, obcaecati praesentium quo
                    repellat repudiandae tenetur voluptate voluptatibus voluptatum.
                </div>
            </div>
        </div>
    </section>
    <section class="post-list">
        <div class="post-item">
            <figure>
                <img src="img/post-items/ph-1.png" alt="About image" />
                <figcaption>
                    <p>Lifestyle</p>
                </figcaption>
            </figure>
            <h2 class="post-title">More than just a music festival</h2>
            <div class="post-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque ducimus est, id illum laborum magnam minima minus molestias nam natus nihil nisi perferendis, quasi quis reiciendis similique, ullam vero.
            </div>

        </div>

    </section>
    <footer>

    </footer>
</div>
</body>
</html>